html, body { height: 99.65%; }

.side {
    width: 20%;
    background-color: #0178bc;
    height: 99vh;
    float: left;
}

.me {
    height: 50%;
    width: 100%;
}

.name {
    border:0;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.you {
    float: left;
    display: block;
    height: 50%;
    width: 100%;
    background-color: tomato;
}

.content {
    width: 80%;
    height: 100%;
    float: left;
}

.view {
    width: 100%;
    height: 75.7%;
    float: left;
}

.edit {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 25%;
    clear: both;
    background-color:#66b7ec;
}

.text {
    overflow: hidden;
    display: block;
    width: 90%;
    height: 80%;
    padding: 10px;
    font-size: 110%;
    margin: 0 auto;
    margin-top: 10px;
}

.radio {
    font-family:Arial, sans-serif;
    float: left;
    clear: both;
    margin: 5px;
    font-size: 110%;
    width: 80%;
    color: #fff;
}

ul {
    height: 42vh;
    overflow-y: scroll;
}

ul::-webkit-scrollbar {
    display: none;
  }

li{
    list-style: none;
}

#area {
    height: 75vh;
    width: 100%;
    overflow-y: scroll;
}

#area li {
    border-bottom: 1px #000 solid;
}

#area::-webkit-scrollbar {
    display: none;
}

#area label {
    padding:10px;
    color: #fff;
    border-radius: 20px;
    background-color: red;
    font-family:Arial, sans-serif;
}