<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link type="text/css" rel="stylesheet" href="../css/reset.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="../css/base.css"  media="screen,projection"/>
  <script type="text/javascript" src="../js/front.js"></script>
  <title></title>
</head>
<body>
  <div class="side">
    <div class="me">
      <input type="text" class="name" id="myName">
      <ul class="myNames">
      </ul>
    </div>
    <div class="you">
      <input type="text" class="name" id="yourName">
      <ul class="yourNames">
        
      </ul>
    </div>
  </div>
  
  <div class="content">
    <div class="view">
      <ul class="area">
        
      </ul>
    </div>
    <div class="edit">
      <textarea class="text" name="text" id="text" ></textarea>
    </div>
  </div>
  <script type="text/javascript" src="../js/materialize.min.js"></script>
</body>

</html>
